* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Bitcount Single', system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: radial-gradient(circle at top, #1b1b2f, #0f0f1a);
  color: white;
}

h2 {
  font-size: 56px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

label {
  font-size: 18px;
  opacity: 0.8;
}

input {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 10px;
  background: rgba(255,255,255,0.1);
  color: white;
  backdrop-filter: blur(10px);
}

/* Countdown layout */
.countdown {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

/* Each time box */
.time-box {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 20px 28px;
  min-width: 100px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: 0.2s ease;
}

.time-box:hover {
  transform: translateY(-5px);
}

/* Numbers */
.time-box span {
  font-size: 48px;
  display: block;
  text-shadow: 0 0 12px rgba(120,160,255,0.8);
}

/* Labels */
.time-box small {
  opacity: 0.7;
  letter-spacing: 2px;
}

/* Message text */
#output {
  margin-top: 30px;
  font-size: 50px;
  opacity: 0.9;
}

/* Confetti */
.confetti {
  position: fixed;
  top: -10px;
  border-radius: 50%;
  animation: fall linear infinite;
  pointer-events: none;
  z-index: 9999;
}

@keyframes fall {
  0% {
    transform: translateY(0) translateX(var(--sway, 0)) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) translateX(var(--sway, 0)) rotate(360deg);
  }
}



.hidden {
  display: none;
}

#openBtn {
  margin-top: 30px;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #ff7aa2;
  color: white;
  display: block; /* ensure visible */
  z-index: 10;
}


.envelope {
  width: 500px;
  height: 700px;
  background: #f5f5f5;
  margin-top: 40px;
  position: relative;
  border-radius: 10px;
  animation: pop 0.5s ease;
}

.letter {
  padding: 20px;
  text-align: left;
  animation: slide 1s ease;
  background : lightblue; 
  color : black; 
}

@keyframes pop {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes slide {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}



.marquee-container {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  height: 150px;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  font-size: 50px;
  color: #ff69b4;
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

